<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Project Details {{ project_modal[0] }}</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table mt-4">
    <tbody>
      <tr>
        <td>
          <p><b>Project Name</b></p>
        </td>
        <td>
          <p>{{ project_modal[0] }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Deployed Stages</b></p>
        </td>
        <td>
          <p>{{ project_modal[1] }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Associated API(s)</b></p>
        </td>
        <td>
          <p>{{ project_modal[2] }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Associated App(s)</b></p>
        </td>
        <td>
          <p>{{ project_modal[3] }}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><b>Associated Alias(es)</b></p>
        </td>
        <td>
          <p>{{ project_modal[4] }}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>